<% if current_user.admin? %>
  <p id="notice"><%= notice %></p>

  <h2>Published Posts</h2>

  <div class="container-fluid">
    <% @posts.each do |admin_post| %>
      <p><%= image_tag admin_post.avatar.url(:thumb) %></p>
      <p><strong><%= admin_post.title %></strong></p>
      <p class="text-muted", id="post-date">
        <%= admin_post.date %> | <%= admin_post.category.name.titleize %>
      </p>
      <p><%=raw admin_post.body.truncate(200) %></p>
      <%= link_to "See Post", admin_post_path(admin_post), class:"btn btn-lg btn-info" %>
      <%= link_to 'Delete Post', [:admin, admin_post], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-md btn-danger" %>
    <% end %>
  </div>

  <br>

    <%= link_to 'New Post', new_admin_post_path %>


  <%= tinymce %>
<% end %>