<p><%= image_tag post.avatar.url(:thumb) %></p>
<h2><%= post.title %></h2>
<p class="text-muted", id="post-date"><%= post.date %> | <%= post.category.name.titleize %></p>
<p><%=raw post.body.truncate(200) %></p>
<%= link_to "Read More", post_path(post), class:"btn btn-lg btn-info", id:"read-more" %>
<% if user_signed_in? && current_user.admin? %>
  <p>
    <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-lg btn-danger" %>
  </p>
<% end %>
