<p id="notice"><%= notice %></p>

<h1>Blog</h1>

<div class="container-fluid">
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p class="text-muted"><%= post.date %></p>
    <p><%= post.body %></p>
    <%= link_to "Read More", post, class:"btn btn-lg btn-info" %>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
