<!DOCTYPE html>
<html>
<head>
  <title>Ross Young Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navbar' %>

  <div class="container-fluid" id="blog-body">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-8" id="posts-column">
        <%= yield %>
      </div>
      <div class="col-sm-3" id="sidebar">
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
  </div>

</body>
</html>
